.svg--ALARM-dims {
	width: 32px;
	height: 30.5px;
}

.svg--BOOK_2-dims {
	width: 32px;
	height: 32px;
}

.svg--HOME-dims {
	width: 32px;
	height: 30.5px;
}

.svg--IMAGE-dims {
	width: 32px;
	height: 32px;
}

.svg--LINE_GRAPH-dims {
	width: 32px;
	height: 32px;
}

.svg--MAGNIFYING_GLASS-dims {
	width: 17.62px;
	height: 17.625px;
}

.svg--PICTURE-dims {
	width: 30px;
	height: 30px;
}

.svg--SHOPPING_CART-dims {
	width: 17.62px;
	height: 14.031px;
}

.svg--SPEECH_BUBBLE_2-dims {
	width: 16.031px;
	height: 14.25px;
}

.svg--USERS-dims {
	width: 31.938px;
	height: 22.53px;
}

.svg--VIEW-dims {
	width: 19.438px;
	height: 11.25px;
}

.svg--_DOWN-dims {
	width: 21px;
	height: 12px;
}

.svg--_OK-dims {
	width: 31px;
	height: 28px;
}

.svg--dribbble-dims {
	width: 16px;
	height: 16px;
}

.svg--facebook-dims {
	width: 12.031px;
	height: 25.62px;
}

.svg--google_plus-dims {
	width: 16px;
	height: 13.78px;
}

.svg--instagram-dims {
	width: 25.593px;
	height: 25.62px;
}

.svg--pinterest-dims {
	width: 19.594px;
	height: 25.62px;
}

.svg--tumblr-dims {
	width: 10px;
	height: 16.03px;
}

.svg--twitter-dims {
	width: 25.594px;
	height: 20.79px;
}

.svg--youtube-dims {
	width: 16px;
	height: 11px;
}

