.svg-ALARM {
	background: url("svg/sprite.css-8f17ca3d.svg") 17.1588785046729% 0 no-repeat;
}

.svg-ALARM-dims {
	width: 24px;
	height: 22.88px;
}

.svg-BOOK_2 {
	background: url("svg/sprite.css-8f17ca3d.svg") 84.44859813084112% 0 no-repeat;
}

.svg-BOOK_2-dims {
	width: 24px;
	height: 24px;
}

.svg-HOME {
	background: url("svg/sprite.css-8f17ca3d.svg") 62.018691588785046% 30.721966205837173% no-repeat;
}

.svg-HOME-dims {
	width: 24px;
	height: 22.88px;
}

.svg-IMAGE {
	background: url("svg/sprite.css-8f17ca3d.svg") 39.58878504672897% 0 no-repeat;
}

.svg-IMAGE-dims {
	width: 24px;
	height: 24px;
}

.svg-LINE_GRAPH {
	background: url("svg/sprite.css-8f17ca3d.svg") 0 31.16883116883117% no-repeat;
}

.svg-LINE_GRAPH-dims {
	width: 24px;
	height: 24px;
}

.svg-MAGNIFYING_GLASS {
	background: url("svg/sprite.css-8f17ca3d.svg") 42.33550890809667% 28.7856071964018% no-repeat;
}

.svg-MAGNIFYING_GLASS-dims {
	width: 17.62px;
	height: 17.625px;
}

.svg-PICTURE {
	background: url("svg/sprite.css-8f17ca3d.svg") 62.018691588785046% 0 no-repeat;
}

.svg-PICTURE-dims {
	width: 24px;
	height: 24px;
}

.svg-SHOPPING_CART {
	background: url("svg/sprite.css-8f17ca3d.svg") 0 82.78811990479367% no-repeat;
}

.svg-SHOPPING_CART-dims {
	width: 17.62px;
	height: 14.031px;
}

.svg-SPEECH_BUBBLE_2 {
	background: url("svg/sprite.css-8f17ca3d.svg") 0 99.17118155619598% no-repeat;
}

.svg-SPEECH_BUBBLE_2-dims {
	width: 16.031px;
	height: 14.25px;
}

.svg-USERS {
	background: url("svg/sprite.css-8f17ca3d.svg") 22.401869158878505% 57.095277744736535% no-repeat;
}

.svg-USERS-dims {
	width: 24px;
	height: 16.93px;
}

.svg-VIEW {
	background: url("svg/sprite.css-8f17ca3d.svg") 61.82212581344903% 53.48189415041783% no-repeat;
}

.svg-VIEW-dims {
	width: 19.438px;
	height: 11.25px;
}

.svg-_DOWN {
	background: url("svg/sprite.css-8f17ca3d.svg") 43.60909090909091% 53.93258426966292% no-repeat;
}

.svg-_DOWN-dims {
	width: 21px;
	height: 12px;
}

.svg-_OK {
	background: url("svg/sprite.css-8f17ca3d.svg") 84.44859813084112% 30.257186081694407% no-repeat;
}

.svg-_OK-dims {
	width: 24px;
	height: 21.68px;
}

.svg-dribbble {
	background: url("svg/sprite.css-8f17ca3d.svg") 99.44347826086957% 0 no-repeat;
}

.svg-dribbble-dims {
	width: 16px;
	height: 16px;
}

.svg-facebook {
	background: url("svg/sprite.css-8f17ca3d.svg") 75.46980706589827% 59.324675324675326% no-repeat;
}

.svg-facebook-dims {
	width: 11.27px;
	height: 24px;
}

.svg-google_plus {
	background: url("svg/sprite.css-8f17ca3d.svg") 99.44347826086957% 18.344416418252695% no-repeat;
}

.svg-google_plus-dims {
	width: 16px;
	height: 13.78px;
}

.svg-instagram {
	background: url("svg/sprite.css-8f17ca3d.svg") 0 62.33766233766234% no-repeat;
}

.svg-instagram-dims {
	width: 23.97px;
	height: 24px;
}

.svg-pinterest {
	background: url("svg/sprite.css-8f17ca3d.svg") 0 0 no-repeat;
}

.svg-pinterest-dims {
	width: 18.36px;
	height: 24px;
}

.svg-tumblr {
	background: url("svg/sprite.css-8f17ca3d.svg") 83.99173553719008% 53.76015064140285% no-repeat;
}

.svg-tumblr-dims {
	width: 10px;
	height: 16.03px;
}

.svg-twitter {
	background: url("svg/sprite.css-8f17ca3d.svg") 22.429906542056074% 29.447852760736197% no-repeat;
}

.svg-twitter-dims {
	width: 24px;
	height: 19.5px;
}

.svg-youtube {
	background: url("svg/sprite.css-8f17ca3d.svg") 99.44347826086957% 33.08888888888889% no-repeat;
}

.svg-youtube-dims {
	width: 16px;
	height: 11px;
}

