

/*
* @name Buttons
* @section Components
* @description
*  All buttons.
*/

.button {
    $root: &;
    
    border: 3px solid #fff;
    padding: 9px 27px 9px 29px;
    letter-spacing: .2px;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;

}
