.svg {

    &--alarm,
    &--linegraph,
    &--ok,
    &--book2,
    &--home,
    &--image,
    &--pic,
    &--equalizer,
    &--wir,
    &--speechBuble,
    &--view,
    &--speech,
    &--googleplus,
    &--youtube,
    &--tumblr,
    &--dribbble  {
        fill: #95e1d3;
    }

    &--facebook,
    &--twitter,
    &--instagram,
    &--pinterest,
    &--map {
        fill: #f38181;
    }

    &--basket,
    &--search {
        fill: #fff;
    }

    &--down {
        fill: #ccc;
    }

    &--close {
        fill: #333;
    }

    &--linegraph,
    &--book2,
    &--image,
    &--wir {
        width: 32px;
        height: 32px;
    }

    &--googleplus,
    &--tumblr,
    &--youtube,
    &--dribbble {
        width: 16px;
        height: 16px;
    }

    &--alarm,
    &--home {
        width: 32px;
        height: 31px;
    }

    &--close {
        width: 64px;
        height: 64px;
    }

    &--arrowcarousel {
        width: 25px;
        height: 25px;
        fill: #cacaca;
    }

    &--map {
        width: 20px;
        height: 26px;
    }

    &--basket {
        width: 18px;
        height: 15px;
    }

    &--search {
        width: 18px;
        height: 18px;
    }

    &--facebook {
        width: 13px;
        height: 26px;
    }

    &--twitter {
        width: 26px;
        height: 22px;
    }

    &--instagram {
        width: 26px;
        height: 26px;
    }

    &--pinterest {
        width: 21px;
        height: 26px;
    }

    &--speechBuble {
        width: 63px;
        height: 61px;
    }

    &--pic {
        width: 30px;
        height: 30px;
    }

    &--equalizer {
        width: 28px;
        height: 32px;
    }

    &--down {
        width: 22px;
        height: 12px;
    }

    &--ok {
        width: 32px;
        height: 28px;
    }

    &--view {
        width: 20px;
        height: 12px;
    }

    &--speech {
        width:16px;
        height:15px;
    }

}
