/*
* @name Categories
* @section Modules
* @description
*  Products categories
*/

.m-categories {
    &__element {
        display: inline-block;
        margin-right: 31px;
        position: relative;

        &:before {
            @include fill-with-absolute();
            content: "";
            background: rgba($color-ebony-clay, .7);
            transition: all .2s ease-in;
        }

        &:last-child {
            margin-right: 0;
        }

        &:hover:before {
            background: rgba($color-ebony-clay, .9);
        }

        @include  breakpoint($lgx) {
            margin-right: 3%;
            width: 31.3%;
        }

        @include  breakpoint($xs) {
            margin-right: 0;
            width: 100%;
            margin-bottom: 20px;
        }

    }

    &__element:hover &__content {
        font-size: 45px;

        @include  breakpoint($lgx) {
            font-size: 35px;
        }
    }

    &__image {

        @include  breakpoint($xs) {
            width: 100%;
            object-fit: cover;
            object-position: top;
            max-height: 400px;
        }

    }

    &__element:last-child &__image {

        @include  breakpoint($xs) {
            object-position: center;
        }
        
    }

    &__element:hover &__line {

        &--left,
        &--right {
            height: calc(100% - 48px);
            top: 23px;
        }

        &--left {
            left: 22px;
        }

        &--right {
            right: 21px;
        }


        &--top,
        &--bottom {
            width: calc(100% - 48px);
            left: 25px;
        }

        &--top {
            top: 23px;
        }

        &--bottom {
            bottom: 25px;
        }

    }

    &__content {
        @include centering('both', 'absolute');
        font-size: 40px;
        color: $color-white;
        font-style: italic;
        font-weight: 300;
        transition: all .2s linear;

        @include  breakpoint($lgx) {
            font-size: 30px;
        }
    }

    &__line {

        &--left,
        &--right {
            position: absolute;
            top: 31px;
            height: calc(100% - 63px);
            width: 3px;
            background: $color-white;
            transition: all .2s linear;
        }

        &--left {
            left: 28px;
        }

        &--right {
            right: 27px;
        }


        &--top,
        &--bottom {
            position: absolute;
            left: 31px;
            width: calc(100% - 61px);
            height: 3px;
            background: $color-white;
            transition: all .2s linear;
        }

        &--top {
            top: 31px;
        }

        &--bottom {
            bottom: 32px;
        }
    }
}
