.imageGrid {
    $root: &;

    margin-top: 98px;

    &__image {
        width: 100%;
        object-fit: cover;
    }

    &__list {
        display: flex;
        flex: 0 1 auto;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__list[data-cols="3"] &__element {
        flex-basis: 31.63333%;
        max-width: 31.63333%;
        margin-right: 2.45%;

        &:last-child {
            margin-right: 0;
        }
    }

    &--bg {

        #{$root}__image {
            margin-top: 0;
            margin-left: 0;
            transition: margin .2s linear;
        }

        #{$root}__element {
            transition: background .2s linear;

            &:before {
                content: '';
                transition: box-shadow .1s cubic-bezier(0.215, 0.61, 0.355, 1), opacity .2s linear, top .2s linear, left .2s linear;
                top: 0;
                left: 0;
                box-shadow: none;
                opacity: 0;
            }

            &:hover {
                position: relative;
                background: #95e1d4;

                #{$root}__image {
                    margin-top: -10px;
                    margin-left: -10px;
                }

                &:before {
                    @include fill-with-absolute('top', 'left', 10);

                    content: '';
                    opacity: 1;
                    background: #f38181;
                    background: linear-gradient(to bottom, rgba(243, 129, 129, 0.9) 0%, rgba(252, 227, 138, 0.9) 100%);
                    top: -10px;
                    left: -10px;
                }

            }

        }

    }

}
