.svg {
    &--basket {
        width: 18px;
        height: 15px;
        fill: #fff;
    }

    &--search {
        width: 18px;
        height: 18px;
        fill: #fff;
    }

    &--alarm,
    &--linegraph,
    &--ok,
    &--book2,
    &--home,
    &--image,
    &--pic,
    &--equalizer,
    &--wir {
        fill: #95e1d3;
    }

    &--pic {
        width: 30px;
        height: 30px;
    }

    &--equalizer {
        width: 28px;
        height: 32px;
    }

    &--down {
        width: 22px;
        height: 12px;
        fill: #ccc;
    }

    &--linegraph,
    &--book2,
    &--image,
    &--wir {
        width: 32px;
        height: 32px;
    }

    &--alarm,
    &--home {
        width: 32px;
        height: 31px;
    }

    &--ok {
        width: 32px;
        height: 28px;
    }

}
