// main: /xampp/htdocs/multiszablon2/scss/style.scss

html {
	-webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

.block {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

main {

}

strong {

}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $color-black inset;
	-webkit-text-fill-color: $color-white !important;
}

img {
	max-width: 100%;
    display: block;
}

* {
    @include border-box;
}

#aboutUs {
    padding-top: 106px;
}

#numbers {
    margin-top: 110px;
    background: #95e1d4;
    color: #fff;
}

#amazingServices {
    margin-top: 110px;
    padding-bottom: 120px;

    .listWithIcon {
        margin-top: 70px;
    }
}

#uniqueDesign {
    padding-top: 110px;
    margin-bottom: 106px;
    background: url(../img/design-bg.jpg) no-repeat center top;
}

#whatDoWeDo {
    padding-bottom: 110px;

    .tabs {
        margin-top: 91px;
    }
}

#ourTeam {
    padding-top: 100px;
    padding-bottom: 118px;

    .imageGrid {
        margin-top: 90px;
    }
}

#ourWork {
    padding-top: 110px;

    .gallery {
        margin-top: 100px;
    }
}

#logos {
    padding-top: 62px;
    padding-bottom: 62px;
}

#quoteGallery {
    padding-top: 60px;
    padding-bottom: 90px;
}

#whatPeopleSay {
    padding-top: 110px;
    padding-bottom: 60px;
    background: url(../img/peoplesay.jpg) no-repeat top center;
    background-size: cover;
}

#blog {
    padding-bottom: 111px;
    padding-top: 110px;
}

#footer {
    padding-top: 78px;
    background: #f8f8f8;
}
